extends layouts/layout.pug

block page-title
  | Главная

block content
  main
    //- main-banner
    section.main-banner
      section.content-main-banner
        div.main-banner-h1
          h1 Awesome Free PSD templates & Resources
        div.main-banner-site
          p
            | test.test.com
            span.glyphicon.glyphicon-chevron-right
    //- end-main-banner

    //- main action-banner
    section.action-banner
      div.call-to-action-text
        p
          | I`m like the Robin Hood of PSD files.
      div.call-to-action-chevron
        p
          span.glyphicon.glyphicon-chevron-right
    //- end action-banner

    //- images banner
    section.images
      div.images-image.chevron
        div
          span.glyphicon.glyphicon-chevron-right
      div.images-image
        img(src='img/bridge.png', alt='Bridge')
      div.images-image
        img(src='img/girl.png', alt='girl')
    //- end images-banner

    //- text
    section.text
      h3 test.test.com
      p
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni nostrum omnis quasi molestiae unde, excepturi delectus totam, veritatis distinctio adipisci, fugit beatae maiores ipsa magnam doloremque neque! Odio, officiis!
      p
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni nostrum omnis quasi molestiae unde, excepturi delectus totam, veritatis distinctio adipisci, fugit beatae maiores ipsa magnam doloremque neque! Odio, officiis!
      p
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni nostrum omnis quasi molestiae unde, excepturi delectus totam, veritatis distinctio adipisci, fugit beatae maiores ipsa magnam doloremque neque! Odio, officiis!
      p
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni nostrum omnis quasi molestiae unde, excepturi delectus totam, veritatis distinctio adipisci, fugit beatae maiores ipsa magnam doloremque neque! Odio, officiis!
